<div class="card-wrapper">
    <div class="card">
        <div class="top-section">
            <p>Monthly billing</p>
            <p class="price">199$</p>
            <p>Monthly</p>
            <hr>
            <p>Starting from 1-month data retention</p>
            <p>10 team members</p>
            <button>Try Free For 14 Days</button>
        </div>
    </div>
    <div class="card">
        <div class="top-section">
            <p>Monthly billing</p>
            <p class="price">199$</p>
            <p>Monthly</p>
            <hr>
            <p>Starting from 1-month data retention</p>
            <p>10 team members</p>
            <button>Try Free For 14 Days</button>
        </div>
    </div>
</div>